


.cardBoard{
    position:relative;
    background-color: rgb(20, 18, 17);
    width: 200px;
    height: 55ch;
    margin-top: 10px;
    margin-left: 850px;
    margin-bottom: 80px;
    text-align: center;
    color:white;
}