


.cardBoard{
    position:absolute;
    background-color: rgb(211, 137, 100);
    width: 200px;
    height: 25ch;
    margin-left: 50rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;
    color:white;
}

.flexbox1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    height:100vh;
    padding:15px;
}

.flexbox1 .board1{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 300px;
    background-color: #313131;
    padding: 15px;
}

.flexbox1 .board1 .card1{
    padding: 15px 25px;
    background-color: #f3f3f3;
    cursor:pointer;
    


}

.flexbox1 .board1 .card1 ,.para{
   
    height: 140px;
    width: 170px;
    color:red;

    
}

