.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: rgb(23, 187, 228);
    z-index: 100;
    width: 100%;
    top:0;
}

.header_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-left: 10px;
    padding:10px;

    
    

}

.header_left>.MuiIconButton-root{
    color: white;
    font-size: medium;
    border-radius:10%;
    box-shadow: 0px 6px 18px -9px ;
    margin-left:20px;
    

}

.header_left>.MuiButton-root{
    color:white;
    box-shadow: 0px 6px 18px -9px ;
    margin-left:20px;

}

.header_center{
    display:flex;
    flex:1;
    align-items:center;
    max-width: fit-content;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}


  

.header_right>.MuiIconButton-root{
    color: white;
    font-size: medium;
    border-radius:10%;
    box-shadow: 0px 6px 18px -9px ;
    margin-left:10px;
    

}

.header_right>.MuiButton-root{
    color:white;
    box-shadow: 0px 6px 18px -9px ;
    margin-left:10px;

}