
.sidebar{
    display:flex;
    position: sticky;
}

.sidebar .sidebar_items{
    display: flex;
    position:fixed;
    width: 75px;
    height: 100%;
    background-color: #293039;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    
    
}


.sidebar .sidebar_items .active{
    background: rgb(20, 18, 17)
}


.sidebar_items>.MuiButton-root{
    color: white;
    font-size: medium;
    border-radius:10%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    line-height: 18px;
    border-top-right-radius:1px ;
    border-bottom-right-radius:1px ;
    

}

.MuiButton-root > p{
    font-size: 10px;
    padding: 10px;
}