.template{
position: -webkit-sticky;
}

.template_items{
    background-color: rgb(20, 18, 17);
    width: 200px;
    height: 70ch;
    margin-left: 75px;
    text-align: center;
    color:white;

}

.flexbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    height:100vh;
    overflow: hidden;
    margin:0 auto;
    padding:15px;
}

.flexbox .board{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 300px;
    background-color: #f0ebeb;
    padding: 15px;
}

.flexbox .board .card{
    padding: 15px 25px;
    background-color: #f3f3f3;
    cursor:pointer;
    margin-bottom: 15px;



}




  